.DetailContainer {
   position: absolute;
   color: white;
   background: none;
   top: 40vh;
   left: 50%;
   transform: translate(-50%, 0);
   width: 1400px;
   height: 1700px;
   z-index: 3;
   margin-top: 100px;
   transition: all ease 0.6s;
}
.DetailGridTemplate {
   width: 100%;
   height: 100%;
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 4fr 1fr;
}
.DetailLeft {
   display: flex;
   width: 100%;
   height: 100%;
}
.DetailRight {
   display: flex;
   width: 100%;
   height: 100%;
   border: 2px red solid;
}
.ScrollerContainer {
   display: inline-flex;
   position: absolute;
   align-items: center;
}
.ScrollerWrapper {
   display: flex;
   align-items: center;
   white-space: nowrap;
   overflow-x: scroll;
   width: 920px;
   height: 260px;
   margin: 0px;
}
.ScrollerTitle {
   position: absolute;
   top: -50px;
   margin-top: 0px;
   font-family: NotoSansOriya;
   font-size: 30px;
   font-weight: bold;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: -1.5px;
   text-align: left;
   color: #fff;
}
.Scroller {
   display: flex;
   padding: 0px;
   margin: 0px;
   height: 250px;
}
.card {
   border: 1px black solid;
   box-shadow: 3px 3px 3px rgb(10, 10, 10);
   border-radius: 6px;
   position: relative;
   display: block;
   width: inherit;
   height: 250px;
}
.profile {
   border-radius: 6px 6px 0px 0px;
   width: 120px;
   height: 175px;
}
.name {
   text-align: left;
   margin: 0 auto;
   margin-left: 3px;
}
#originName {
   font-weight: bold;
   font-size: 15px;
   margin-bottom: 7px;
   white-space: pre-wrap;
}
#character {
   font-size: 12px;
   white-space: pre-wrap;
}

.TrailerContainer {
   display: block;
   position: absolute;
   top: 300px;
   margin-left: 100px;
   width: 920px;
   height: fit-content;
}
.PlayerWrapper {
   width: 920px;
   height: 517px;
}
.trailerTitle {
   width: fit-content;
   height: fit-content;
   font-family: NotoSansOriya;
   font-size: 30px;
   font-weight: bold;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: -1.5px;
   text-align: left;
   color: #fff;
   margin: 0px;
   margin-bottom: 10px;
}
