.ButtonContainer {
   position: relative;
   top: 500px;
   margin: 0 auto;
   border: 2px solid red;
   width: fit-content;
   height: fit-content;
   z-index: 1;
   transition: ease all 2s;
}
.ButtonContainerMoved {
   position: relative;
   margin: 0 auto;
   border: 2px solid red;
   width: fit-content;
   height: fit-content;
   z-index: 1;
   top: 300px;
   transition: ease all 2s;
}
.ButtonWrapper {
   text-align: center;
}
.Button {
   font-size: 30px;
   font-weight: bold;
   cursor: pointer;
   color: white;
}
#Details {
   margin-right: 20px;
}
#Comments {
   margin-left: 20px;
}
