.Container {
   display: block;
   width: 100%;
   height: 1080px;
   overflow: hidden;
}
.bodyWrapper {
   display: block;
   position: relative;
   width: 69%;
   height: 55%;
   margin: 0 auto;
   margin-left: 100px;
}
.spanBtn {
   margin-right: 20px;
   color: #9f9ab1;
   cursor: pointer;
   transition: all ease 0.3s;
}
.spanBtn:hover {
   color: black;
}
.posterWrapper {
   position: flex-start;
   width: 270px;
   height: 405px;
}
.poster {
   width: 270px;
   height: 405px;
}
.header {
   display: block;
   align-items: flex-start;
   width: 100%;
}
.title {
   margin-top: 0px;
   margin-bottom: 0px;
   font-family: NotoSansOriya;
   font-size: 100px;
   font-weight: bold;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: -3px;
   text-align: left;
   color: #fff;
}
.overview {
   margin-top: 50px;
   font-family: NotoSansOriya;
   font-size: 20px;
   font-weight: bold;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: -1.2px;
   text-align: left;
   color: #fff;
}
.viewmore {
   margin-top: 60px;
   color: white;
}
.text {
   display: flex;
   position: relative;
   color: #9f9ab1;
   font-size: 25px;
   margin-bottom: 20px;
}
.text span,
p {
   margin-right: 6px;
}
