.buttonWrapper {
   position: relative;
   width: fit-content;
   height: fit-content;
   margin-left: 30px;
   margin-right: 30px;
}
.button_left,
.button_right {
   transition: 0.4s all ease;
   width: 40px;
   height: 40px;
   opacity: 1;
   cursor: pointer;
}
.button_rightHidden,
.button_leftHidden {
   width: 40px;
   height: 40px;
   transition: 0.4s all ease;
   opacity: 0;
}
.button_left {
   transform: scaleX(-1);
}
.button_leftHidden {
   transform: scaleX(-1);
}
